body {
    background-color: #ffffff;
}



h1 {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    /* margin-left: 20px; */
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

h2 {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}

h3 {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}

p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}

a {
    color: rgb(16, 0, 158);
    text-decoration: underline;
    cursor: pointer;
  }

ul, ol {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
    list-style-type: disc; /* Restores the bullet point */
    padding-left: 30px; /* Adds padding to indent the list items */
    margin: 0; /* Removes any default margin if needed */

}

li {
    margin-bottom: 10px; /* Optional: Adds some space between list items */
}


.bold {
    font-weight: bold;
}




.site-title {
    font-family: 'Arial', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: white;
    padding: 20px; /* Adds padding to position it nicely */
    text-align: left; /* Align text to the left */
    background-color: transparent; /* Make sure background is transparent */
    margin-left: 10px; /* Adjust the left margin */
}

.header-main {
    width: 100%;
    height: 120px;
    background-color: rgb(31, 26, 99);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; /*space-evenly, flex-start, center*/
    align-content: normal; /*flex-end, stretch*/
    align-items: flex-start;
    /* gap: 50px 40px; */
}




/* #image-container {
    display: flex;
    width: 800px;
    background-color: rgb(255, 255, 0);
    height: 700px;
} */

/* #imageA, #imageB {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
} */

#imageA, #imageB {
    display: flex;
    justify-content: center;
    padding: 0 20px 20px 20px;
}

/* #outside-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(255, 60, 0);
} */



.overview {
    display: flex;
    /* justify-content: space-between; */
    /* gap: 20px; */
    max-width: 800px;
    width: calc(100% - 40px);
    margin: auto;
    margin-bottom: 20px;
    /* margin: 20px auto; */
    /* padding: 20px; */
}

.overview .contact {
    flex: 1;
    padding: 20px;
    max-width: 300px;
    margin-right: 20px;
    /* max-width: 300px; */
    background-color: #dbe0c7;
}

.overview .summary {
    flex: 1;
    padding: 20px;
    /* max-width: 800px; */
    background-color: #c2c799;
}

.button-image img {
    border: 2px solid #533131;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.button-image img:hover {
    opacity: 0.8;
    transform: scale(1.05);
    cursor: pointer;
}


/* @keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
} */

/* .button-image img {
    animation: pulse 0.5s infinite;
} */




.referencer {
    max-width: 800px;
    width: calc(100% - 40px);
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #b4c747bd;
}

.faglighed {
    max-width: 800px;
    width: calc(100% - 40px);
    padding: 20px;
    margin: auto;
    margin-bottom: 20px;
    background-color: #bece6781;
}

.IT {
    max-width: 800px;
    width: calc(100% - 40px); /* 100% width minus 20px on each side */
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #90bd47a2;

}
.projekter {
    max-width: 800px;
    width: calc(100% - 40px); /* 100% width minus 20px on each side */
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #a6c772a2;
}

.projekter .box {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.projekter .box > div {
    flex: 1 1 calc(50% - 10px); /* Grow to fill space, but never shrink below 200px */
    /* max-width: calc(50% - 10px); */
    min-width: 200px; /* Ensure each project box is at least 200px wide */
    box-sizing: border-box;
    padding: 10px;
}

.projekt1 {
    background-color: rgb(0, 255, 136);
}

.projekt2 {
    background-color: rgb(212, 188, 80);
}

.projekt3 {
    background-color: rgb(133, 140, 240);
}

.projekt4 {
    background-color: rgb(255, 251, 0);
}


.uddannelse {
    max-width: 800px;
    width: calc(100% - 40px);
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #a9b98ea2;
}

.sprog {
    max-width: 800px;
    width: calc(100% - 40px);
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgba(221, 228, 227, 0.925);
}

.personligt {
    max-width: 800px;
    width: calc(100% - 40px);
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgb(183, 216, 214);
}

.footer {
    height: 120px;
    background-color: rgb(31, 26, 99);
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 20px;
    bottom: 0;
    left: 0;
    z-index: 10;
    
}

@media (max-width: 1300px) {
    .overview{
        flex-direction: column;
        /* margin: 20px 10px; */
        /* margin-left: 20px; */
        /* padding: 20px; */
    }

    .overview .contact {
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    
    /* .portraet-og-anbefaling{
        flex-direction: row;
        margin: 20px 10px;
        margin-left: 20px;
        padding: 20px;
    } */

    /* .portraet {
        height: none;
        width: 61.80339%;
        margin-left: 20px;
        margin: auto;
        margin-bottom: 20px;
    } */

    /* .anbefaling {
        width: calc(100% - 40px);
        height: auto;
        margin-left: 0px;
        margin-bottom: 20px;
        border: none;
        border-radius: none;
    } */
}


/* .image {
    width: 300px;
    height: 1000px;
    background-image: url(../img/forside.png);
    background-size: cover;
    background-repeat: repeat-x;
    border: blue solid 10px;
    background-position: center;
    margin-bottom: 100px;
    margin-left: 150px;
}    */





/* #se-her {
    color: orangered;
} */

/* #scroll-down-to-this {
    color: rgb(66, 66, 66);
} */

/* body div .abe {
    color: green;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-style: italic;
    text-align: left;
    text-decoration: underline;
    text-transform: none;
    line-height: 60px;
    word-spacing: 10px;
    width: 800px;
    height: 500px;
    background-color: rgb(188, 190, 30);
    float: left;
}

.test-div {
    width: 250px;
    height: 200px;
    background-color: blueviolet;
    margin-top: 200px;
    z-index: 28;
    border: blue solid 10px;
    cursor:progress;
    display:table;
}    */
