@media (max-width: 768px) {
    body {
        /* margin: 0; */
        padding: 0;
        /* padding: 0 10px; */
        overflow-x: hidden;
    }


    .main-content, .faglighed, .IT, .uddannelse, .personligt, .referencer {
        /* flex-direction: column; */
        margin: 20px 10px;
    }

    .left-column, .right-column {
        max-width: 100%;
        padding: 10px;
    }

    /* .image-container {
        margin: 0 auto 20px;
    } */
}

h1 {
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    /* margin-left: 20px; */
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

h2 {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}

p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}

a {
    color: hotpink;
    text-decoration: underline;
    cursor: crosshair;
  }

.header-main {
    width: 100%;
    height: 120px;
    background-color: rgb(31, 26, 99);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; /*space-evenly, flex-start, center*/
    align-content: normal; /*flex-end, stretch*/
    align-items: flex-end;
    /* gap: 50px 40px; */
}

.header-main div {
    height: 30px;
}

.header-main .div-1 {
    /* width: 400px; */
    background-color:blue;
    order: 1;
    /* flex-shrink: 1; */
    flex: 1 0 100px;
    align-self: flex-start;
    /* flex-basis: 500px; */
    /* flex-grow: 1; */
}
.header-main .div-2 {
    /* width: 200px; */
    background-color:rgb(8, 182, 60);
    order: 2;
    flex: 1 0 100px;
    /* flex-basis: 100px; */
    /* flex-shrink: 1; */
    /* flex-grow: 1; */
    /* flex-basis: auto; */
    /* padding: 10px; */
    /* flex-grow: 2; */
}

.header-main .div-3 {
    /* width: 100px; */
    order: 3;
    background-color:rgb(231, 143, 28);
    flex: 0 0 100px;
    /* flex-basis: 100px; */
    /* flex-grow: 2; */
}

.portraet-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.portraet {
    width: 400px;
    /* margin-left: 100px; */
    /* margin-bottom: 20px; */
    
}

.main-content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    max-width: 800px;
    margin: 20px auto;
}

.left-column, .right-column {
    flex: 1;
    padding: 20px;
}

.left-column {
    max-width: 300px;
    background-color: rgb(26, 209, 200);
}

.right-column {
    max-width: 800px;
    background-color: #fdcf73;

}

.faglighed {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(194, 194, 60);
}


.IT {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(26, 209, 200);   
}

.IT .animations {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    /* align-items: stretch; */
    /* gap: 20px; */
    /* max-width: 800px; */
    /* margin: 20px auto; */
}

.uddannelse {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fdcf73;
}

.personligt {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(194, 194, 60);
}


.referencer {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(26, 209, 200);
}

.footer { 
    height: 120px;
    background-color: rgb(31, 26, 99);
    bottom: 0; 
    left: 0; 
    z-index: 10;
}


.image {
    width: 300px;
    height: 1000px;
    background-image: url(../img/forside.png);
    background-size: cover;
    background-repeat: repeat-x;
    border: blue solid 10px;
    background-position: center;
    margin-bottom: 100px;
    margin-left: 150px;
}   





#se-her {
    color: orangered;
}

#scroll-down-to-this {
    color: rgb(66, 66, 66);
}

body div .abe {
    color: green;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-style: italic;
    text-align: left;
    text-decoration: underline;
    text-transform: none;
    line-height: 60px;
    word-spacing: 10px;
    width: 800px;
    height: 500px;
    background-color: rgb(188, 190, 30);
    float: left;
}

.test-div {
    width: 250px;
    height: 200px;
    background-color: blueviolet;
    margin-top: 200px;
    z-index: 28;
    border: blue solid 10px;
    cursor:progress;
    display:table;
}   
